<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책먹는 여우 - 비밀번호 찾기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header>
        <div class="container">
            <h1><a href="{{ url_for('home') }}">책먹는 여우</a></h1>
            <nav>
                <ul>
                    <li id="auth-link"><a href="{{ url_for('login') }}">로그인</a></li>
                    <li><a href="#">장르별</a></li>
                    <li><a href="#">베스트셀러</a></li>
                    <li><a href="#">신작</a></li>
                </ul>
            </nav>
        </div>
    </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="flash">{{ message }}</p>
                    {% endfor %}
                </div>
             {% endif %}
        {% endwith %}


    <main class="auth-main">
        <div class="auth-container">
            <h2>비밀번호 찾기</h2>
            <p class="info-text">가입 시 등록한 아이디와 이메일을 입력해주세요.</p>
            <form id="find-password-form" method="POST" action="/find_password_post">
                
                <p id="find-error-message" class="error-message"></p>
                
                <input type="text" name="user_id" id="find-id" placeholder="아이디" required>
                <input type="email" name="user_email" id="find-email" placeholder="이메일" required>
                
                <button type="submit" class="auth-button">임시 비밀번호 발급</button>
            </form>
            <p class="auth-footer-text">
                <a href="{{ url_for('login') }}">로그인 페이지로 돌아가기</a>
            </p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 책먹는 여우. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>